/* Deals with the body section of the html for fonts */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Deals with side bar of the css */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: gray;
  position: relative;
  height: 100%;
  overflow: auto;
  margin-left: 0px;
  z-index: 2;
}

/* Deals with the shape of the side bar */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
/* Deals with the side bar when clicked on*/
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Deals with the side bar when hovered on */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Deals with the references of other pages */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Changes the side bar when the site is smaller*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* Changes the side bar when the site is smaller */
@media screen and (max-width: 450px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Deals with the font for the heading */
h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-family: 'Amatic SC', cursive;
  font-size: 96px;
  color: white;
}

/* Deals with the body background color */
body {
	background-color: #696969;
}

/* Changes the background color when smaller */
@media only screen and (max-width: 700px) {
  body {
    background-color: #bababa;
  }
}

/* Deals paragraph word color */
p {
	text-align: center;
	color: white;
	font-size: 36px;
}

/* A group that helps makes the video responsive */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; 
overflow: hidden;
}

/* Deals with youtube videos */
.video-container iframe {
padding: 0;
margin: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* Makes the image responsive */
.responsive {
  width: 100%;
  height: auto;
}